.detailpage {
  display: flex;
  flex-flow: column;
  align-items: center;
  .goback {
    text-decoration: none;
    color: white;
  }
}
.character_detail {
  display: flex;
  flex-flow: column nowrap;
  margin-bottom: 50px;

  padding: 15px;
  background: #00b7c6;
  &-img {
    width: 300px;
  }
  @media (min-width: 768px) {
    flex-flow: row;
    &-description {
      display: flex;
      flex-flow: column nowrap;
      justify-content: center;
      margin: 30px;
    }
  }
}
