.form_search {
  display: flex;
  flex-flow: column nowrap;
  margin: 30px;
  &-label {
    text-align: center;
    margin-bottom: 15px;
  }
  &-input {
    text-align: center;
    border: solid #00b7c6 2px;
    background: black;
    color: white;
    font-size: 16px;
    padding: 5px;
  }
  @media (min-width: 768px) {
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    width: 450px;
    &-label {
      margin-bottom: 0;
    }
  }
}

.form_checkbox {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  margin: 15px;

  &-label {
    padding: 5px;
  }
}
